<div class="page-wash"></div>
<nav class="primary-nav" role="navigation">
    <div class="primary-nav-wrapper">
        <h1 class="site-title">
            <a href="/">{{ site.title }}</a>
            <span class="locations">
                <span class="location-city">Calgary</span>
                <span class="location-city">Los Angeles</span>
                <span class="location-city">New York</span>
                <span class="location-city">Toronto</span>
                <span class="location-city">Vancouver</span>
            </span>
        </h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/process">Process</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        </ul>
    </div>
</nav>
